body {
    font-family: '"Helvetica Neue",Helvetica,Arial,sans-serif';
    font-size: 14px;
    line-height: 1.42857143;
    padding-top: 0;
}

.page-break {
    display: block;
    page-break-before: always;
}

ul.menu {
    display: none;
}

.cv-email a {
    text-decoration: none;
    color: black;
}
