ul.menu {
    background: #594A82;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
}

ul.menu li.menu-item {
    flex: 0 1 auto;
}

ul.menu li.menu-item:first-of-type {
}

ul.menu li.menu-item a {
    position: relative;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    text-decoration: none;
    color: white;
}

ul.menu li.menu-item a:hover {
    background: #504375;
    color: white;
}


ul.menu li.menu-item.active a {
    background: white;
    color: #504375;
}

.container {
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    margin: 0;
}
