@mixin sizing($w,$h) {
    width: $w;
    height: $h;
}

@mixin captionSizing($scale) {
    width: ($baseSize * $scale) + $basePadding*2 + $baseBorder*2;
}

$baseBorder: 1px;
$basePadding: 4px;

$baseSize: 128px;
$shortBaseSize: $baseSize*0.75;

$largeSize: $baseSize*2;
$shortLargeSize: $largeSize*0.75;

body {
    &.imagebox-fullscreen {
        overflow: hidden;
    }
}

.imagebox-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;

    .imagebox {
        display: inline-block;
        margin: 5px;

        img {
            display: block;
            margin: auto;
            max-width: 100%;
            max-height: 100%;
        }

        .image-thumbnail {
            border: 1px solid gray;
            padding: 4px;
            background: white;
            -webkit-box-shadow: 5px 5px 1px 0px darkgrey;
            -moz-box-shadow: 5px 5px 1px 0px darkgrey;
            box-shadow: 5px 5px 0px 0px darkgrey;
            cursor: zoom-in;
        }

        .image-caption {
            padding-top: 5px;
            text-align: center;
            font-style: italic;
            color: darkgrey;
            line-height: 25px;
            height: 50px;
        }

        &.small {
            &.portrait {
                .image-thumbnail {
                    @include sizing($shortBaseSize,$baseSize);
                }

                .image-caption {
                    @include captionSizing(0.75)
                }
            }

            &.landscape {
                .image-thumbnail {
                    @include sizing($baseSize,$shortBaseSize);
                }

                .image-caption {
                    @include captionSizing(1)
                }
            }

            &.square {
                .image-thumbnail {
                    @include sizing($baseSize,$baseSize);
                }

                .image-caption {
                    @include captionSizing(1)
                }
            }
        }

        &.large {
            &.portrait {
                .image-thumbnail {
                    @include sizing($shortLargeSize,$largeSize);
                }

                .image-caption {
                    @include captionSizing(2*0.75)
                }
            }

            &.landscape {
                .image-thumbnail {
                    @include sizing($largeSize,$shortLargeSize);
                }

                .image-caption {
                    @include captionSizing(2)
                }
            }

            &.square {
                .image-thumbnail {
                    @include sizing($largeSize,$largeSize);
                }

                .image-caption {
                    @include captionSizing(2)
                }
            }
        }

        &.fullscreen {
            float: none;
            margin: 0;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 65px;
            right: 0;
            background: white;

            img {
                display: block;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }

            .image-thumbnail {
                border: 0;
                padding: 0;
                background: white;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                width: 100%;
                height: auto;
                background: black;
                cursor: zoom-out;
            }

            &.large, &.small {
                &.portrait, &.landscape {
                    .image-thumbnail {
                        @include sizing(auto,100%);
                    }

                    img {
                        height: 100%;
                    }
                }

                .image-caption {
                    padding-top: 15px;
                    width: 100%;
                    color: black;
                    background: white;
                }
            }
        }
    }
}
