ul.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 90px;
    margin: 0;

    &.aside {
        flex-direction: row;
        padding-left: 0;
        min-width: 180px;

        li.menu-item {
            flex: 0 1 100%;
        }
    }

    li.menu-item {
        flex: 0 1 auto;

        &.active {
            a {
            }
        }

        a {
            position: relative;
            display: block;
            padding: 10px 15px;
            line-height: 20px;
            text-decoration: none;
        }

        &:hover {
        }
    }
}

ul.menu {
    //Purple
    &.menu-p {
        background: #594A82;

        li.menu-item {
            padding: 0 9px;

            a {
                color: white;
            }

            &.active {
                a {
                    background: white;
                    color: #504375;
                }
            }

            &:hover {
                background: #504375;
                color: white;
            }
        }
    }
    //Grey
    &.menu-g {
        background: gainsboro;
        color: darkgrey;

        li.menu-item {
            a {
                color: darkgrey;
            }

            &.active {
                border-right: 5px solid #594A82 !important;

                a {
                    color: #594A82;
                }
            }

            &:hover {
                border-right: 2px solid #594A82;
                background: gainsboro;
            }
        }
    }
}
